.test_box {
  width: 100%;
  height: 100vh;
  background: url('../img/bg.jpg') bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test_box .content {
  position: relative;
  z-index: 10;
  top: 50px;
  width: 400px;
}
.test_box .content div:nth-child(1) {
  font-size: 30px;
  height: 50px;
  font-weight: bold;
}
.test_box .content div:nth-child(2) {
  font-size: 16px;
  text-align: center;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 30px;
}
.test_box .content div:nth-child(3) {
  text-align: left;
  height: 30px;
}
.test_box .content div:nth-child(3) button {
  width: 100px;
  height: 35px;
}
